@model WeCare.Models.DonateItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DonateItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonatedItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonatedItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModeOfDelivery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModeOfDelivery)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
